<div id="social">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-md-3">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /container
    -->
</div>
<!-- /social
-->
<div id="f">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="#">Developed by Dmytro Voloshyn</a>
            </div>
        </div>
    </div>
</div>
