<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="locations_wrapper" ng-controller="LocationsIndexCtrl">
                <h1>{{ testMessage }}</h1>
                <table class="rwd-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>District</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
            </div>
        </div>
    </div>
</div>