<div class="admin-form-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Sign up</h1>

                <form name="registrationForm" novalidate >
                    <div class="alert alert-warning" ng-show="authReason">
                        {{authReason}}
                    </div>
                    <div class="alert alert-danger" ng-show="authError">
                        {{authError}}
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email address" ng-model="user.email" required
                            >
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <input type="password" class="form-control " placeholder="Password"
                                       ng-model="user.password" required>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                       ng-model="user.confirm_password">
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-large btn-primary" type="submit" ng-click="register(user)"
                       ng-disabled="registrationForm.$invalid">Sign up</a>
                </form>
            </div>
        </div>
    </div>
</div>
