#welcome_block
  .container
    .row
      .col-lg-8.col-lg-offset-2.centered
        %h1 Weather Maps
        %h2 weather monitoring application
      / /col-lg-8
    / /row
  / /container
/ /hello
#content_block
  .container
    .row
      .col-lg-5.centered
        %img{:alt => "", :src => "assets/img/iphone.png"}/
      .col-lg-7.centered
        %h3 WHAT WE CAN DO?
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.