%section#contact
#social
  .container
    .row.centered
      .col-lg-8.col-lg-offset-2
        .col-md-3
          %a{:href => "#"}
            %i.fa.fa-facebook
        .col-md-3
          %a{:href => "#"}
            %i.fa.fa-dribbble
        .col-md-3
          %a{:href => "#"}
            %i.fa.fa-twitter
        .col-md-3
          %a{:href => "#"}
            %i.fa.fa-envelope
  / /container
/ /social

#f
  .container
    .row
      %p
        Crafted with
        %i.fa.fa-heart
        by BlackTie.co.