/ Fixed navbar
.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.logo_section{:href => "#"}
        = image_tag "sun_storm_icon.png", class: "logo_image"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          %a{:href => "#contact"} Sign In
        %li.active
          %a{:href => "#contact"} Sing Up

    / /.nav-collapse