<div class='alert alert-danger'>
  <button aria-hidden='true' class='close' data-dismiss='alert' type='button'>×</button>
  <h3>
    prohibited this page from being saved:
  </h3>
  <ul>
  </ul>
</div>
