<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="app" ng-controller="AppController">
<head>
  <title>Weather_maps</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
  <meta content="width=device-width" name="viewport"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,600,700,400italic,700italic|Roboto+Slab:400,700,300" rel="stylesheet" type="text/css"></link>
</head>
<body>
<div class="navbar navbar-default" ng-include src="'header.html'"></div>
<%= yield %>
<div ng-include src="'footer.html'"></div>
</body>
</html>
